<link rel="stylesheet" href="/js/components/sidebar/sidebar.css">

<div class="sidebar">
  <button id="videosButton" class="sidebar-button">Videos</button>
  <button id="favoritesButton" class="sidebar-button">
    Favoritos
    <span id="favoriteCount" class="favorite-count">0</span>
  </button>
  <div class="auth-section">
    <input type="email" id="email" class="auth-input" placeholder="Email" required />
    <input type="password" id="password" class="auth-input" placeholder="Password" required />
    <button id="loginButton" class="auth-button">Login</button>
    <button id="registerButton" class="auth-button">Register</button>
    <button id="logoutButton" class="auth-button">Logout</button>
  </div>
</div>
